/* This can be used for custom styling should the need arise */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.ui.card>.image>img, .ui.cards>.card>.image>img {
    display: flex;
    width: 100%;
    height: 215px;
    border-radius: inherit;
}

:root {
    --main-font-color: #fcaa15;
    --main-td-color: white;
    --main-ts-color: black;
}

header {
    background-image: url("../images/beer_background.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    border-bottom: 5px var(--main-td-color) solid;
    box-shadow: var(--main-ts-color) 6px 6px;;
}

#title-el {
    max-width: 800px;
}

h1 {
    color: var(--main-font-color);
    padding: 50px;
    text-decoration: underline;
    text-decoration-color: var(--main-td-color);
    font-size: 48px;
    font-family: goldman;
    text-shadow: var(--main-ts-color) 3px 3px;
    text-align: center;
}

#about-us {
    max-width: 600px;
    padding: 30px 60px 0 60px;
    color: var(--main-td-color);
    font-size: 20px;
    display: flex;
}

.about {
    color: var(--main-font-color);
    font-family: goldman;
    text-shadow: var(--main-ts-color) 3px 3px;
    flex-wrap: wrap;
    text-align: center;
    font-size: 40px;
}

body {
    background-image: url("https://i.pinimg.com/736x/7e/d6/8a/7ed68a697fb3ce4b8f2accc3b1c595bc.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Baloo 2';
}

.search-container {
    margin: 10px 30px;
}

.search-bar {
    border-bottom: solid var(--main-td-color) 5px;
}

#input-form {
    display: flex;
}

.input-field1 {
    margin: 0 5px 0 0;
}

.input-field2 {
    margin: 0 0 0 5px;
}

.map {
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-top: 56.25%;
    border: var(--main-font-color) solid 10px;
    margin: 40px auto 20px;
}

.map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#card-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}

.ui.card.brew-card {
    border: var(--main-font-color) solid 4px;
    flex-wrap: wrap;
    
}

.hops {
    background-image: url("../images/hop-plant-vector-background.jpeg");;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-top: 5px var(--main-td-color) solid;
    box-shadow: var(--main-ts-color) 6px 6px;;
}


.site-info {
    padding: 20px;
    margin-top: 60px;
}

footer li {
    list-style-type: none;
    color: var(--main-font-color);
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: var(--main-td-color);
    font-family: goldman;
    text-shadow: var(--main-ts-color) 2px 2px;
}

.results-title {
    display: flex;
    flex-wrap: wrap;

}

.return {
    width: 550px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 70px;
}

.return-link {
    color: var(--main-font-color);
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: var(--main-td-color);
    font-family: goldman;
    text-shadow: var(--main-ts-color) 2px 2px;
    flex-wrap: wrap;
}

.clicked-result {
    height: 900px;
}

#location-input {
    border-radius: 60px;
    border: 6px solid var(--main-ts-color);
    font-family: goldman;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

#location-input:focus {
    background-color: rgba(252, 170, 21, .8 )
}

#state-input {
    height: auto;
    border-radius: 60px;
    border: 6px solid var(--main-ts-color);
    font-family: goldman;
    font-weight: bold;
    font-size: x-large;
    text-align: center;

}

#brewery-input {
    border-radius: 60px;
    border: 6px solid var(--main-ts-color);
    font-family: goldman;
    font-weight: bold;
    font-size: x-large;
    text-align: center;

}

#brewery-input:focus {
    background-color: rgba(252, 170, 21, .8 );
}

#search-btn {
    font-family: goldman;
    font-size: x-large;
    background-color: var(--main-ts-color);
    border: 6px solid var(--main-font-color);
    color: var(--main-font-color);
    border-radius: 60px;

}

#search-btn:hover {
    background-color: var(--main-td-color);
    border: 6px solid var(--main-ts-color);
    color: var(--main-ts-color);
}


#state-input:focus {
    background-color: rgba(252, 170, 21, .8 );
}


#btnCon {
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

#display-favorites, #favorites {
    font-family: goldman;
    font-size: small;
    background-color: var(--main-ts-color);
    border: 6px solid var(--main-font-color);
    color: var(--main-font-color);
    border-radius: 60px;
    height: 40px;
    width: 150px
}

#display-favorites:hover {
    background-color: var(--main-td-color);
    border: 6px solid var(--main-ts-color);
    color: var(--main-ts-color);
}

.fav-text {
    font-size: medium;
}

@media only screen and (max-width: 900px) {
    #beer-quote, #quote-attribution { 
        font-size: 35px;
      }
  }



  @media only screen and (max-width: 1500px) {
    #search-form, #input-form { 
      flex-direction: column;
      align-items: center;
      width: 80%;
    }
    #about-us {
        padding: 0;
    }

}

@media screen and (max-width: 600px) {
     input[type=text] {
      width: 100%;
      margin-top: 0;
    }
    input::placeholder{
        font-size: smaller;
    } 
  }


@media only screen and (max-width: 800px) {
    #beer-quote, #quote-attribution { 
        font-size: 35px;
      }
  }

  @media only screen and (max-width: 600px) {
    #beer-quote, #quote-attribution { 
      font-size: 25px;
    }

    header {
        background-image: url("../images/beer_background3.jpg");
        height: 600px;
        background-size: cover;
        background-position: center;
        border-bottom: 5px var(--main-td-color) solid;
        box-shadow: var(--main-ts-color) 6px 6px;;
    }

  }

  .hidden{
    visibility: hidden;
  }

  .visible{
    visibility: visible;
  }

