/* This can be used for custom styling should the need arise */
* {
    padding: 0;
    margin: 0;
}

header {
    background-image: url("../images/beer_background.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    border-bottom: 5px white solid;
    box-shadow: black 6px 6px;;
}

h1 {
    color: #fcaa15;
    padding: 50px;
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 48px;
    font-family: 'goldman';
    text-shadow: black 3px 3px;
}

.about-us {
    width: 600px;
    padding: 0 0 0 60px;
    color: white;
    font-size: 20px;
}

.about {
    color: #fcaa15;
    font-family: 'goldman';
    text-shadow: black 3px 3px;
}

body {
    background-image: url("https://i.pinimg.com/736x/7e/d6/8a/7ed68a697fb3ce4b8f2accc3b1c595bc.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Baloo 2';
}

.search-container {
    margin: 10px 30px;
}

.search-bar {
    border-bottom: solid white 5px;
}

.input-field1, .input-field2 {
    width: 40%;

}

.input-field1 {
    margin: 0 5px 0 0;
}

.input-field2 {
    margin: 0 0 0 5px;
}

.map {
    width: 950px;
    height: 500px;
    border: #fcaa15 solid 10px;
    margin: 40px auto 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ui.card.brew-card {
    border: #fcaa15 solid 4px;
    flex-wrap: wrap;
    
}

.hops {
    background-image: url("../images/hop-plant-vector-background.jpeg");;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-top: 5px white solid;
    box-shadow: black 6px 6px;;
}


.site-info {
    padding: 20px;
    margin-top: 60px;
}

footer li {
    list-style-type: none;
    color: #fcaa15;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: white;
    font-family: 'goldman';
    text-shadow: black 2px 2px;
}

.results-title {
    display: flex;
    flex-wrap: wrap;

}

.return {
    width: 550px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 70px;
}

.return-link {
    color: #fcaa15;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: white;
    font-family: 'goldman';
    text-shadow: black 2px 2px;
    flex-wrap: wrap;
}

.clicked-result {
    height: 900px;
}

